.back-link{
  display: block;
  width: 150px;
  margin-bottom: 30px;
  padding: 10px 20px;
  color: $white;
  text-align: center;
  text-decoration: none;
  background-color: $blue;
  border-radius: 8px;
}