.header {
  margin-bottom: 30px;
  padding: 20px 0;
  background-color: $white;
  box-shadow: rgba($blue, $alpha: 0.1) 0px 8px 36px;
  border-bottom: 1px solid #eeeeee;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.header__right {
  position: relative;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    transform: rotate(90deg);
    width: 10px;
    height: 10px;
    background-image: url("../images/marker.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.25s ease;
  }
}

.header__user-avatar {
  margin-right: 12px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 1px $background, 0px 0px 0px 2px $dark-blue;
}

.header__text {
  margin-right: 5px;
  text-decoration: none;
  color: $black;

  &:hover{
    text-decoration: underline;
  }
}

.header__menu {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  display: none;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  box-shadow: rgba($blue, $alpha: 0.2) 0px 8px 24px;
  background-color: $white;
  border-radius: 6px;
}

.header__menu__text {
  margin-bottom: 12px;
  text-decoration: none;
  color: $black;

  &:hover{
    text-decoration: underline;
  }
}

.header__btn {
  border: 0;
  outline: 0;
  background-color: transparent;

  &:hover {
    text-decoration: underline;
  }
}

.header__right {
  &:hover {
    &::after {
      transform: rotate(270deg);
    }

    .header__menu {
      display: flex;
    }
  }
}
